.frame {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1920px;
  min-height: 3303px;
  position: relative;
}

/* Background */
.frame .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4022px;
}

.frame .rectangle {
  left: 0;
  width: 100%;
  height: 3508px;
  background: linear-gradient(108deg, rgba(93, 0, 0, 1) 0%, rgba(5, 5, 5, 1) 100%);
  position: absolute;
  top: 0;
}

.frame .div {
  left: calc(50% - 802px);
  width: 1603px;
  max-width: calc(100% - 317px);
  height: 4022px;
  background-color: #00000073;
  position: absolute;
  top: 0;
}

/* Header */
.frame .header {
  position: absolute;
  top: 0;
  left: calc(50% - 2865px);
  width: 5534px;
  height: 202px;
}
.frame .header-background {
  position: absolute;
  top: 0;
  left: calc(50% - 50vw);
  width: 150vw;
  height: 202px;
  background-color: #000000;
}

.frame .title {
  position: absolute;
  top: 21px;
  left: calc(50% - 693px);
  width: 334px;
  height: 72px;
  display: flex;
}

.frame .TITLE,
.frame .TITLE-2 {
  margin-top: 21px;
  height: 51px;
  font-family: "Galindo", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .TITLE {
  width: 152px;
}

.frame .TITLE-2 {
  width: 105px;
  margin-left: 10px;
}

.frame .movie-clapper-open {
  width: 59px;
  height: 59px;
  margin-left: 8px;
  aspect-ratio: 1;
  object-fit: cover;
}

.frame .search-bar {
  position: absolute;
  top: 38px;
  left: calc(50% - 301px);
  width: 805px;
  height: 45px;
}

.frame .rectangle-2 {
  left: 0;
  width: 835px;
  height: 49px;
  background-color: #d9d9d9;
  border-radius: 35px;
  position: absolute;
  top: 0;
  border: none;
  padding: 0 60px 0 20px;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  outline: none;
}

.frame .rectangle-2:focus {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}

.frame .search-button {
  position: absolute;
  top: 7px;
  right: 0;
  width: 69px;
  height: 36px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame .search-button:hover {
  opacity: 0.8;
}

.frame .search-button:focus {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}

.frame .loopa {
  width: 69px;
  height: 36px;
  aspect-ratio: 1.9;
  object-fit: cover;
  pointer-events: none;
}

.frame .border {
  position: absolute;
  top: 114px;
  left: calc(50% - 699px);
  width: 1588px;
  height: 5px;
  background-color: #d9d9d9;
}

.frame .navbar {
  position: absolute;
  top: 138px;
  left: 2127px;
  width: 1412px;
  height: 45px;
  display: flex;
}

.frame .navbar a {
  height: 45px;
  font-family: "Galindo", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.frame .navbar a:hover {
  opacity: 0.8;
}

.frame .navbar a:focus {
  outline: none;
}

.frame .text-wrapper-4 {
  width: 150px;
}

.frame .text-wrapper-5 {
  width: 153px;
  margin-left: 153px;
}

.frame .text-wrapper-6 {
  width: 123px;
  margin-left: 182px;
}

.frame .text-wrapper-7 {
  width: 155px;
  margin-left: 164px;
}

.frame .text-wrapper-8 {
  width: 158px;
  margin-left: 164px;
}

.frame .account {
  position: absolute;
  top: 19px;
  left: 3384px;
  width: 191px;
  height: 76px;
}

.frame .account-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  transition: opacity 0.2s ease;
}

.frame .account-link:hover {
  opacity: 0.8;
}

.frame .account-link:focus {
  outline: none;
}

.frame .human-icon {
  width: 76px;
  height: 76px;
  aspect-ratio: 1;
  object-fit: cover;
}

.frame .account-text {
  margin-top: 22px;
  width: 113px;
  height: 45px;
  font-family: "Galindo", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

/* News Section */
.frame .news-card-container {
  position: absolute;
  width: 1460px;
  height: 622px;
  top: 300px;
  left: calc(50% - 730px);
}

.frame .news-card-main {
  left: 0;
  width: 929px;
  height: 622px;
  position: absolute;
  top: 0;
}

.frame .news-card-background,
.frame .news-card-background-2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
}

.frame .news-card-background {
  width: 925px;
  height: 622px;
}

.frame .news-card-background-2 {
  width: 504px;
  height: 306px;
}

.frame .news-image {
  position: absolute;
  top: 13px;
  left: 16px;
  width: 892px;
  height: 481px;
  object-fit: cover;
}

.frame .news-title {
  position: absolute;
  top: 511px;
  left: 22px;
  width: 884px;
  font-family: "Galindo", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .news-desc {
  position: absolute;
  top: 567px;
  left: 22px;
  width: 885px;
  font-family: "Fenix", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .news-card-mini,
.frame .news-card-mini-2 {
  width: 508px;
  height: 306px;
  position: absolute;
  left: 956px;
}

.frame .news-card-mini {
  top: 0;
}

.frame .news-card-mini-2 {
  top: 316px;
}

.frame .news-image-2 {
  position: absolute;
  top: 6px;
  left: 9px;
  width: 486px;
  height: 237px;
  object-fit: cover;
}

.frame .p {
  position: absolute;
  top: 251px;
  left: 12px;
  width: 482px;
  font-family: "Galindo", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .news-desc-2 {
  position: absolute;
  top: 279px;
  left: 12px;
  width: 482px;
  font-family: "Fenix", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

/* Film Cards */
.frame .film-card-container-2,
.frame .film-card-container-1 {
  position: absolute;
  left: calc(50% - 726px);
  width: 1449px;
  height: 593px;
}

.frame .film-card-container-2 {
  top: 1728px;
}

.frame .film-card-container-1 {
  top: 1021px;
  left: calc(50% - 727px);
}

.frame .film-card,
.frame .film-card-3,
.frame .film-card-4,
.frame .film-card-5,
.frame .film-card-6,
.frame .film-card-7,
.frame .film-card-8 {
  position: absolute;
  top: 82px;
  width: 295px;
  height: 475px;
}

.frame .film-card {
  left: calc(50% - 678px);
}

.frame .film-card-3 {
  left: calc(50% - 328px);
}

.frame .film-card-4 {
  left: calc(50% + 20px);
}

.frame .film-card-5 {
  left: calc(50% + 370px);
}

.frame .film-card-6 {
  left: calc(50% - 322px);
}

.frame .film-card-7 {
  left: calc(50% + 382px);
}

.frame .film-card-8 {
  left: calc(50% + 26px);
}

.frame .film-card-2 {
  top: 0;
  left: calc(50% - 148px);
  width: 282px;
  background-color: #000000;
  box-shadow: 15px 15px 4px #00000040;
  position: absolute;
  height: 475px;
}

.frame .film-card-image {
  position: absolute;
  top: 5px;
  left: calc(50% - 141px);
  width: 270px;
  height: 403px;
  object-fit: cover;
}

.frame .film-genre {
  position: absolute;
  top: 449px;
  left: 6px;
  width: 74px;
  font-family: "Doppio One", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.48px;
  line-height: normal;
}

.frame .film-raiting {
  position: absolute;
  top: 449px;
  left: 165px;
  width: 124px;
  font-family: "Doppio One", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.48px;
  line-height: normal;
}

.frame .star-icon {
  position: absolute;
  top: 446px;
  left: 249px;
  width: 24px;
  height: 22px;
  aspect-ratio: 1.05;
  object-fit: cover;
}

.frame .film-title,
.frame .film-title-2 {
  position: absolute;
  top: 412px;
  left: 0;
  width: 276px;
  font-family: "Doppio One", Helvetica;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.66px;
  line-height: normal;
}

.frame .film-title {
  font-size: 22px;
}

.frame .film-title-2 {
  font-size: 24px;
  letter-spacing: 0.72px;
}

.frame .film-card-container-2-2 {
  position: absolute;
  top: 588px;
  left: calc(50% - 724px);
  width: 1447px;
  height: 5px;
  background-color: #d9d9d9;
}

.frame .category-title {
  position: absolute;
  top: -1px;
  left: calc(50% - 708px);
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #000000;
  font-family: "Galindo", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 1.44px;
  line-height: normal;
}

/* Actor Cards */
.frame .actor-card-container {
  position: absolute;
  top: 2435px;
  left: calc(50% - 727px);
  width: 1449px;
  height: 501px;
}

.frame .actor-card,
.frame .actor-card-2,
.frame .actor-card-3,
.frame .actor-card-4 {
  position: absolute;
  top: 86px;
  width: 284px;
  height: 375px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.frame .actor-card {
  left: 49px;
}

.frame .actor-card-2 {
  left: 396px;
}

.frame .actor-card-3 {
  left: 743px;
}

.frame .actor-card-4 {
  left: 1090px;
}

.frame .actor-image {
  margin-left: 3px;
  width: 282px;
  height: 283px;
  aspect-ratio: 1;
  object-fit: cover;
}

.frame .actor-name-surname {
  width: 288px;
  height: 82px;
  display: flex;
  flex-direction: column;
}

.frame .actor-name {
  margin-left: 74.4px;
  width: 138.31px;
  height: 32.75px;
  margin-top: 7.7px;
}

.frame .actor-surname {
  margin-left: -0.5px;
  width: 284px;
  height: 41px;
  margin-top: 0;
  text-shadow: 2px 2px 2px #000000f7;
  -webkit-text-stroke: 0.5px #000000;
  font-family: "Galindo", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 29px;
  text-align: center;
  letter-spacing: 1.74px;
  line-height: normal;
}

.frame .actor-cards {
  position: absolute;
  top: 496px;
  left: calc(50% - 724px);
  width: 1447px;
  height: 5px;
  background-color: #d9d9d9;
}

/* Footer */
.frame .footer {
  position: absolute;
  top: 3054px;
  left: calc(50% - 960px);
  width: 1922px;
  height: 249px;
  background-color: transparent;
}

.frame .footer-background {
  position: absolute;
  top: 0;
  left: calc(50% - 50vw);
  width: 100vw;
  height: 249px;
  background-color: #000000;
}

.frame .copyright {
  position: absolute;
  top: 196px;
  left: 799px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0.66px;
  line-height: normal;
  white-space: nowrap;
}

.frame .info {
  position: absolute;
  top: 129px;
  left: 490px;
  width: 978px;
  height: 31px;
  display: flex;
  gap: 42px;
}

.frame .info a {
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0.78px;
  line-height: normal;
  white-space: nowrap;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.frame .info a:hover {
  opacity: 0.8;
}

.frame .info a:focus {
  outline: none;
}

.frame .text-wrapper {
  width: 404px;
  height: 30px;
}

.frame .text-wrapper-2 {
  margin-top: 1px;
  width: 71px;
  height: 30px;
}

.frame .text-wrapper-3 {
  margin-top: 1px;
  width: 413px;
  height: 30px;
}

.frame .social {
  position: absolute;
  top: 31px;
  left: 709px;
  width: 503px;
  height: 62px;
  display: flex;
}

.frame .social-link {
  display: inline-block;
  transition: opacity 0.2s ease;
}

.frame .social-link:hover {
  opacity: 0.8;
}

.frame .social-link:focus {
  outline: none;
}

.frame .social-icon,
.frame .img,
.frame .social-icon-2 {
  width: 100.81px;
  height: 62px;
  aspect-ratio: 1.63;
  object-fit: cover;
}

.frame .img,
.frame .social-icon-2 {
  margin-left: 33.2px;
}

.frame .social-icon-2 {
  margin-left: 33.4px;
}

/* Utility Classes */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.frame article {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.frame article:hover {
  transform: scale(1.02);
}

.frame article:focus-within {
  outline: 2px solid #ffffff;
  outline-offset: 4px;
}
