.frame {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1920px;
  min-height: 3303px;
  position: relative;
}

/* Background */
.frame .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4022px;
}

.frame .rectangle {
  left: 0;
  width: 100%;
  height: 3508px;
  background: linear-gradient(108deg, rgba(93, 0, 0, 1) 0%, rgba(5, 5, 5, 1) 100%);
  position: absolute;
  top: 0;
}

.frame .div {
  left: calc(50% - 802px);
  width: 1603px;
  max-width: calc(100% - 317px);
  height: 4022px;
  background-color: #00000073;
  position: absolute;
  top: 0;
}

/* Header */
.frame .header {
  position: absolute;
  top: 0;
  left: calc(50% - 2865px);
  width: 5534px;
  height: 202px;
}
.frame .header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000vw;
  left: -100vw;
  min-width: 100%;
  height: 202px;
  background-color: #000000;
}

.frame .title {
  position: absolute;
  top: 21px;
  left: calc(50% - 680px);
  width: 334px;
  height: 72px;
  display: flex;
  align-items: center;
}

.frame .title-text {
  margin-top: 21px;
  height: 51px;
  font-family: "Galindo", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .title-text:first-child {
  width: 152px;
}

.frame .title-text:last-child {
  width: 105px;
  margin-left: 10px;
}

.frame .movie-clapper-open {
  width: 59px;
  height: 59px;
  margin-left: 12.5px;
  aspect-ratio: 1;
  object-fit: cover;
}

.frame .search-bar {
  position: absolute;
  top: 38px;
  left: calc(50% - 301px);
  width: 805px;
  height: 45px;
}

.frame .search-input {
  left: 0;
  width: 835px;
  height: 49px;
  background-color: #d9d9d9;
  border-radius: 35px;
  position: absolute;
  top: 0;
  border: none;
  padding: 0 60px 0 20px;
  font-family: "Roboto", Helvetica;
  font-size: 22px;
  outline: none;
}

.frame .search-input:focus {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}

.frame .search-button {
  position: absolute;
  top: 7px;
  right: 0;
  width: 69px;
  height: 36px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame .search-button:hover {
  opacity: 0.8;
}


.frame .loopa {
  width: 69px;
  height: 36px;
  aspect-ratio: 1.9;
  object-fit: cover;
  pointer-events: none;
}

.frame .border {
  position: absolute;
  top: 114px;
  left: calc(50% - 699px);
  width: 1588px;
  height: 5px;
  background-color: #d9d9d9;
}

.frame .navbar {
  position: absolute;
  top: 139px;
  left: 2180px;
  width: 1412px;
  height: 45px;
  display: flex;
  gap: 153px;
}

.frame .nav-link {
  height: 45px;
  font-family: "Galindo", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
  transition: opacity 0.2s ease;
  flex-shrink: 0;
}

.frame .nav-link:hover {
  opacity: 0.8;
}

.frame .nav-link:focus {
  outline: none;
}

.frame .nav-link:nth-child(1) { width: 150px; }
.frame .nav-link:nth-child(2) { width: 153px; }
.frame .nav-link:nth-child(3) { width: 123px; }
.frame .nav-link:nth-child(4) { width: 155px; }
.frame .nav-link:nth-child(5) { width: 158px; }

.frame .account {
  position: absolute;
  top: 19px;
  left: 3384px;
  width: 191px;
  height: 76px;
}

.frame .account-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  transition: opacity 0.2s ease;
}

.frame .account-link:hover {
  opacity: 0.8;
}

.frame .account-link:focus {
  outline: none;
}

.frame .human-icon {
  width: 76px;
  height: 76px;
  aspect-ratio: 1;
  object-fit: cover;
}

.frame .account-text {
  margin-top: 22px;
  width: 113px;
  height: 45px;
  font-family: "Galindo", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

/* News Section */
.frame .news-card-container {
  position: absolute;
  width: 1460px;
  height: 622px;
  top: 300px;
  left: calc(50% - 730px);
}

.frame .news-card-main {
  left: 0;
  width: 929px;
  height: 622px;
  position: absolute;
  top: 0;
}

.frame .news-card-mini {
  width: 508px;
  height: 306px;
  position: absolute;
  left: 956px;
}

.frame .news-card-mini:first-of-type {
  top: 0;
}

.frame .news-card-mini:last-of-type {
  top: 316px;
}

.frame .news-card-background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
}

.news-card-main .news-card-background {
  width: 925px;
  height: 622px;
}

.news-card-mini .news-card-background {
  width: 504px;
  height: 306px;
}

.frame .news-image {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 892px;
  height: 481px;
  object-fit: cover;
}

.news-card-mini .news-image {
  top: 8px;
  left: 9px;
  width: 486px;
  height: 237px;
}

.frame .news-title {
  position: absolute;
  font-family: "Galindo", Helvetica;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.news-card-main .news-title {
  top: 511px;
  left: 22px;
  width: 884px;
  font-size: 36px;
}

.news-card-mini .news-title {
  top: 251px;
  left: 12px;
  width: 482px;
  font-size: 20px;
}

.frame .news-desc {
  position: absolute;
  font-family: "Fenix", Helvetica;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.news-card-main .news-desc {
  top: 567px;
  left: 22px;
  width: 885px;
  font-size: 24px;
}

.news-card-mini .news-desc {
  top: 279px;
  left: 12px;
  width: 482px;
  font-size: 13px;
  white-space: nowrap;
}

/* Film Cards - ИСПРАВЛЕНО ПОЗИЦИОНИРОВАНИЕ СЕКЦИЙ */
/* Первая секция фильмов - Популярно сейчас */
.frame section:nth-of-type(2) {
  position: absolute;
  width: 1449px;
  height: 593px;
  top: 1021px !important;
  left: calc(50% - 727px) !important;
}

/* Вторая секция фильмов - Популярные сериалы */
.frame section:nth-of-type(3) {
  position: absolute;
  width: 1449px;
  height: 593px;
  top: 1728px !important;
  left: calc(50% - 727px) !important;
}

.frame .film-card-container-separator {
  position: absolute;
  top: 588px;
  left: 0;
  width: 1447px;
  height: 5px;
  background-color: #d9d9d9;
}

.frame .category-title {
  position: absolute;
  top: -1px;
  left: calc(50% - 708px);
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #000000;
  font-family: "Galindo", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 1.44px;
  line-height: normal;
}

/* ОБЩИЕ СТИЛИ ДЛЯ ВСЕХ КАРТОЧЕК ФИЛЬМОВ */
.frame .film-card {
  position: absolute;
  top: 82px;
  width: 295px;
  height: 475px;
}

/* Позиции для ВСЕХ карточек в ЛЮБОМ контейнере */
.frame .film-card:nth-child(3) { left: 54px; }
.frame .film-card:nth-child(4) { left: 403px; }
.frame .film-card:nth-child(5) { left: 752px; }
.frame .film-card:nth-child(6) { left: 1101px; }

.frame .film-card-background {
  position: absolute;
  top: 0;
  left: 6px;
  width: 282px;
  height: 475px;
  background-color: #000000;
  box-shadow: 15px 15px 4px #00000040;
}

.frame .film-card-image {
  position: absolute;
  top: 5.5px;
  left: 11.5px;
  width: 270px;
  height: 403px;
  object-fit: cover;
}

.frame .film-genre {
  position: absolute;
  top: 449px;
  left: 12px;
  width: 74px;
  font-family: "Doppio One", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.48px;
  line-height: normal;
}

.frame .film-raiting {
  position: absolute;
  top: 449px;
  left: 171px;
  width: 124px;
  font-family: "Doppio One", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.48px;
  line-height: normal;
}

.frame .star-icon {
  position: absolute;
  top: 446px;
  left: 255px;
  width: 24px;
  height: 22px;
  aspect-ratio: 1.05;
  object-fit: cover;
}

.frame .film-title {
  position: absolute;
  top: 412px;
  left: 6px;
  width: 276px;
  font-family: "Doppio One", Helvetica;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.66px;
  line-height: normal;
  font-size: 22px;
}

/* Actor Cards */
.frame .actor-card-container {
  position: absolute;
  width: 1449px;
  height: 501px;
  top: 2435px;
  left: calc(50% - 727px);
}

.frame .actor-card-container-separator {
  position: absolute;
  top: 496px;
  left: 0;
  width: 1447px;
  height: 5px;
  background-color: #d9d9d9;
}

.frame .actor-card {
  position: absolute;
  top: 86px;
  width: 284px;
  height: 375px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.frame .actor-card:nth-child(3) { left: 49px; }
.frame .actor-card:nth-child(4) { left: 396px; }
.frame .actor-card:nth-child(5) { left: 743px; }
.frame .actor-card:nth-child(6) { left: 1090px; }

.frame .actor-image {
  margin-left: 3px;
  width: 282px;
  height: 283px;
  aspect-ratio: 1;
  object-fit: cover;
}

.frame .actor-full-name {
  width: 288px;
  height: 82px;
  display: flex;
  flex-direction: column;
}

.frame .actor-name {
  margin-left: 74.4px;
  width: 138.31px;
  height: 32.75px;
  margin-top: 0;
  text-shadow: 2px 2px 2px #000000f7;
  -webkit-text-stroke: 0.5px #000000;
  font-family: "Galindo", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 29px;
  text-align: center;
  letter-spacing: 1.74px;
  line-height: normal;
}

.frame .actor-surname {
  margin-left: -0.5px;
  width: 284px;
  height: 41px;
  margin-top: 0;
  text-shadow: 2px 2px 2px #000000f7;
  -webkit-text-stroke: 0.5px #000000;
  font-family: "Galindo", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 29px;
  text-align: center;
  letter-spacing: 1.74px;
  line-height: normal;
}

/* Footer */
.frame .footer {
  position: absolute;
  top: 3054px;
  left: calc(50% - 960px);
  width: 1922px;
  height: 249px;
  background-color: transparent;
}

.frame .footer-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000vw;
  left: -100vw;
  min-width: 100%;
  height: 249px;
  background-color: #000000;
}

.frame .copyright {
  position: absolute;
  top: 196px;
  left: 799px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0.66px;
  line-height: normal;
  white-space: nowrap;
}

.frame .info {
  position: absolute;
  top: 129px;
  left: 490px;
  width: 978px;
  height: 31px;
  display: flex;
  gap: 42px;
}

.frame .info-link {
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0.78px;
  line-height: normal;
  white-space: nowrap;
  text-decoration: none;
  transition: opacity 0.2s ease;
  flex-shrink: 0;
}

.frame .info-link:hover {
  opacity: 0.8;
}

.frame .info-link:focus {
  outline: none;
}

.frame .info-link:nth-child(1) { width: 404px; height: 30px; }
.frame .info-link:nth-child(2) { width: 71px; height: 30px; margin-top: 1px; }
.frame .info-link:nth-child(3) { width: 413px; height: 30px; margin-top: 1px; }

.frame .social {
  position: absolute;
  top: 31px;
  left: 709px;
  width: 503px;
  height: 62px;
  display: flex;
  gap: 33px;
}

.frame .social-link {
  display: inline-block;
  transition: opacity 0.2s ease;
}

.frame .social-link:hover {
  opacity: 0.8;
}

.frame .social-link:focus {
  outline: none;
}

.frame .social-icon {
  width: 100.81px;
  height: 62px;
  aspect-ratio: 1.63;
  object-fit: cover;
}

/* Utility Classes */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.frame article {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.frame article:hover {
  transform: scale(1.02);
}

.frame article:focus-within {
  outline: 2px solid #ffffff;
  outline-offset: 4px;
}