* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

.element {
  background-color: #ffffff;
  min-height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.2) 100%), 
              linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
  z-index: 0;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.error-info {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 140px 20px 40px;
}

.error-code {
  -webkit-text-stroke: 2px #000000;
  font-family: "Reem Kufi", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(80px, 8.33vw, 160px);
  letter-spacing: 0;
  line-height: 1.5;
  margin: 21px 0;
}

.error-text {
  -webkit-text-stroke: 2px #000000;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(24px, 2.5vw, 48px);
  letter-spacing: 0;
  line-height: 1.17;
  margin: 21px 0;
}

.error-image {
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  width: clamp(160px, 16.6vw, 319px);
  height: clamp(160px, 16.6vw, 319px);
}